<ion-header>
  <ion-toolbar>
    <ion-title>Reproductor de Video Integrado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <video width="100%" height="auto" controls>
    <source src="http://192.168.1.105:8080/video" type="video/mp4">
    Tu navegador no soporta la reproducción de video.
  </video>
</ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-title>Reproductor de Video</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button expand="full" (click)="playStreamingVideo()">
      Reproducir Video
    </ion-button>
  </ion-card-content>
</ion-card>